streamlit==1.39.0
python-dotenv==1.0.1
pydantic==2.8.2
pydantic-core==2.20.1

langchain==0.2.12
langchain-community==0.2.11
langchain-core==0.2.33
langchain-text-splitters==0.2.2

chromadb==0.5.5
unstructured==0.16.6
unstructured-inference==0.7.36
pdfminer.six==20231228
pypdf==4.2.0

google-genai==0.5.0
google-auth==2.34.0
google-api-core==2.19.1

protobuf==4.25.3
requests==2.32.3

tqdm==4.66.5
numpy==1.26.4
typing-extensions==4.12.2
aiohttp==3.9.5
streamlit
pydantic
langchain
langchain-community
langchain-text-splitters
chromadb
unstructured
pypdf
python-dotenv
google-generativeai
